@media (max-width: 1550px) {
	html {
		font-size: 13px;
	}
	.bg-decoration {
		letter-spacing: 0px;
	}
	.latest-work-container {
		/* width: 66.66666vw; */
		min-width: 80vw;
	}
	img {
		height: 125px;
		width: 125px;
		margin: 0 1.5rem;
	}
	.project-main-info-text {
		max-width: 70%;
	}

	.project-description {
		font-size: 1rem;
	}
	.contact-info {
		transform: translate(-50%, -50%);
		width: 75vw;
		height: 55vh;
	}
	form {
		width: 50vw;
		margin-bottom: 50rem;
	}
}

@media (max-width: 1225px) {
	/* body {
		height: auto;
	} */
	section {
		/* height: 100vh; */
		top: 65%;
	}
	header h1 {
		/* align-self: center; */
		padding-left: 5rem;
	}
	.latest-work-container {
		flex-direction: column;
		align-items: center;
	}
	.latest-project {
		width: 80%;
	}
	.lp-1 {
		margin-bottom: 5rem;
	}
	.lp-2 .project-main-info {
		border-left: 2px solid #222;
	}
	.subtitle {
		font-size: 2rem;
		position: absolute;
		top: 125%;
		left: 50%;
		padding-bottom: 2rem;
	}
	.Contact.active + .subtitle {
		top: 85%;
	}
	.contact-info {
		top: 25%;
		left: 50%;
	}
	.contact-info .contact-info h1 {
		padding-bottom: 0;
		align-self: center;
	}
	form {
		width: 70vw;
	}
	.coming-soon {
		transform: translate(-50%, -50%);
	}
}

@media (min-height: 1365px) {
	section {
		top: 45%;
	}
	.subtitle {
		top: 85%;
	}
	.contact-info {
		top: 60%;
	}
	.contact-info h1 {
		font-size: 2.5rem;
		padding-bottom: 5rem;
	}
}
