header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(/books/travelsWithCharley/travelsWithCharleyBG.jpg);
	background-position: center;
	background-size: cover;
}

nav {
	background-color: #ef5026;
}

nav a {
	color: #faded8;
}

nav a:hover {
	color: #faded89d;
}

.header-content h1 {
	font-size: 4rem;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #cedc7a;
	font-weight: 300;
	font-family: 'Pangolin', cursive;
	text-shadow: 0 0 3px #000;
}

.header-content h3 {
	letter-spacing: 2px;
	font-family: 'Pangolin', cursive;
	text-shadow: 0 0 3px #000;
}

.part h1.partHeading {
	font-size: 3rem;
	letter-spacing: 5px;
	border-bottom: 3px solid #fff;
	margin-bottom: 5rem;
	font-weight: 400;
}

.chapter {
	padding: 8rem 0 0 0;
	width: 100%;
}

.chapter h1 {
	width: 33.333333vw;
	margin: auto;
	padding-bottom: 5rem;
	text-align: center;
}

.chapter h1 hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

@media (max-width: 950px) {
	.header-content {
		padding: 2rem;
	}
	.header-content h1 {
		font-size: 3rem;
		letter-spacing: 5px;
	}
}

@media (max-width: 725px) {
	nav a {
		font-size: 1rem;
	}
	.themeToggle {
		top: 1.5rem;
		right: 1.5rem;
	}
	.header-content h1 {
		font-size: 1.5rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 1rem;
	}
}
