[submodule "projects/hangman"]
	path = projects/hangman
	url = https://github.com/sbrcly/hangman
[submodule "projects/testportal"]
	path = projects/testportal
	url = https://github.com/sbrcly/testportal
[submodule "projects/biExtractingTool"]
	path = projects/biExtractingTool
	url = https://github.com/sbrcly/biExtractingTool
[submodule "projects/tradingSchedule"]
	path = projects/tradingSchedule
	url = https://github.com/sbrcly/tradingSchedule
