header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(/books/theSixthExtinction/sixthExtinctionBG.PNG);
	background-position: 0 25%;
	background-size: cover;
	color: #fafcfd;
}

nav {
	background-color: #ee7709;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: rgba(234, 234, 234, 0.822);
}

.header-content h1 {
	font-size: 4rem;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fafcfd;
	font-weight: 700;
	font-family: 'Syne', sans-serif;
	text-shadow: 0 0 3px #000;
}

.header-content h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 0 2px #111;
	margin-bottom: 1rem;
}

.header-content h3 {
	letter-spacing: 2px;
	font-weight: 600;
	font-family: 'Syne', sans-serif;
	color: #ee7709;
	text-shadow: 0 0 3px #000;
}

.chapter {
	padding: 8rem 0 0 0;
}

.chapter h2 {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 5rem;
}

.chapter h1 {
	text-align: center;
	padding-bottom: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 5px;
}

.chapter h3 {
	text-align: center;
	padding-bottom: 10rem;
	font-weight: 300;
}

@media (max-width: 950px) {
	.header-content {
		padding: 2rem;
	}
	.header-content h1 {
		font-size: 3rem;
		letter-spacing: 5px;
	}
}

@media (max-width: 725px) {
	nav a {
		font-size: 1rem;
	}
	.themeToggle {
		top: 1.5rem;
		right: 1.5rem;
	}
	.header-content h1 {
		font-size: 1.5rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 1rem;
	}
	.chapter h2 {
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 5rem;
	}
	.chapter h1 {
		text-align: center;
		padding-bottom: 1rem;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 2rem;
		letter-spacing: 5px;
	}
}
