header {
	background: linear-gradient(
			rgba(42, 46, 47, 0.808),
			rgba(42, 46, 47, 0.808)
		),
		url(/books/mereChristianity/mereChristianityBG.PNG);
	background-position: 0 10%;
	background-size: cover;
	background-repeat: no-repeat;
}

nav {
	background-color: #fdc32a;
}

nav a {
	color: #2a2e2f;
}

nav a:hover {
	color: #fff;
}

.header-content h1 {
	font-size: 7rem;
	letter-spacing: 8px;
	color: #fff;
	font-weight: 100;
	font-family: 'Alex Brush', cursive;
	text-shadow: 0 0 10px #000;
}

.header-content h3 {
	font-size: 2rem;
	letter-spacing: 2px;
	font-family: 'Alex Brush', cursive;
	color: #fff;
	text-shadow: 0 0 10px #000;
}

.part h2.partHeading {
	font-size: 1.75rem;
	letter-spacing: 5px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 3rem;
	font-family: 'Crimson Text', serif;
}

.part h1.partDescription {
	font-size: 2.5rem;
	letter-spacing: 15px;
	max-width: 60vw;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 15rem;
	font-family: 'Crimson Text', serif;
}

.chapter {
	padding: 8rem 0 0 0;
}

.chapter h2 {
	font-size: 2rem;
	font-weight: 300;
}

.chapter h1 {
	text-align: center;
	padding-bottom: 5rem;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Crimson Text', serif;
	letter-spacing: 5px;
}

.chapter p.subPara {
	padding-left: 2rem;
}

@media (max-width: 950px) {
	.header-content {
		padding: 2rem;
	}
	.header-content h1 {
		font-size: 4rem;
		letter-spacing: 5px;
	}
}

@media (max-width: 725px) {
	.themeToggle {
		top: 1.5rem;
		right: 1.5rem;
	}
	nav a {
		font-size: 1rem;
	}
	.header-content h1 {
		font-size: 1.75rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 1rem;
	}
	.header-content h3 {
		font-size: 1.5rem;
	}
	.part h1.partDescription {
		font-size: 2rem;
		letter-spacing: 5px;
	}
	.chapter h1 {
		font-size: 2rem;
	}
}
