* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 20px;
	line-height: 1.7;
	font-family: 'Lato', sans-serif;
}

body.darkMode {
	background-color: #222;
	color: #fff;
}

.themeToggle {
	position: fixed;
	height: 28px;
	width: 56px;
	top: 2rem;
	right: 3rem;
	background-color: #e8be53;
	border: 1px solid #e8be53;
	border-radius: 25px;
	z-index: 1;
}

.themeToggle.darkMode {
	border: 1px solid #0f3050;
	background-color: #0f3050;
}

.themeToggle .themeOverlay {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: #f7f7f7;
	border-radius: 50%;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	transition: all 0.25s;
	box-shadow: 0 0 25px #cf5b06;
}

.themeToggle .themeOverlay:hover {
	cursor: pointer;
	transform: scale(1.2) translateY(-50%);
	transform-origin: top;
	box-shadow: 0 0 50px #cf5b06;
}

.themeToggle .themeOverlay.darkMode {
	left: 55%;
	background-color: #9c9a99;
	transition: all 0.25s;
	box-shadow: 0 0 25px #fff;
}

.themeToggle .themeOverlay.darkMode:hover {
	box-shadow: 0 0 50px #fff;
}

.themeToggle i.fa-star {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	font-size: 0.75rem;
	z-index: -1;
	color: #fff;
}

.themeToggle i.fa-cloud {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	font-size: 0.75rem;
	z-index: -1;
	color: #fff;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40vh;
	background: linear-gradient(
			rgba(42, 46, 47, 0.808),
			rgba(42, 46, 47, 0.808)
		),
		url(/books/mereChristianity/mereChristianityBG.PNG);
	background-position: 0 10%;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

nav {
	align-self: start;
	position: fixed;
	top: 3%;
	clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
	background-color: #fdc32a;
}

nav.showHome {
	left: 0;
	transition: 0.5s;
}

nav.hideHome {
	left: -61px;
	transition: 0.5s;
}

nav a {
	color: #2a2e2f;
	font-size: 2rem;
	margin: 0.25rem 2.5rem 0.25rem 1.5rem;
}

nav a:hover {
	color: #fff;
	transition: all 0.4s;
}
.header-content {
	text-align: center;
	padding: 2rem 10rem;
	border-radius: 25px 25px 0 0;
}

.header-content h1 {
	font-size: 7rem;
	letter-spacing: 8px;
	color: #fff;
	font-weight: 100;
	font-family: 'Alex Brush', cursive;
	text-shadow: 0 0 10px #000;
}

.header-content h3 {
	font-size: 2rem;
	letter-spacing: 2px;
	font-weight: 40000;
	font-family: 'Alex Brush', cursive;
	color: #fff;
	text-shadow: 0 0 10px #000;
}

main {
	width: 75vw;
	max-width: 1600px;
	margin: 0 auto 5rem auto;
}

.part {
	padding: 15rem 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.part h2.partHeading {
	font-size: 1.75rem;
	letter-spacing: 5px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 3rem;
	font-family: 'Crimson Text', serif;
}

.part h1.partDescription {
	font-size: 2.5rem;
	letter-spacing: 15px;
	max-width: 60vw;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 15rem;
	font-family: 'Crimson Text', serif;
}

.chapter {
	padding: 8rem 0 0 0;
}

.chapter h2 {
	font-size: 2rem;
	font-weight: 300;
}

.chapter h1 {
	text-align: center;
	padding-bottom: 5rem;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Crimson Text', serif;
	letter-spacing: 5px;
}

.chapter p {
	padding-bottom: 2rem;
	text-align: left;
}

.chapter p.subPara {
	padding-left: 2rem;
}
