header {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(/books/theMadnessOfCrowds/madnessBG.jpg);
	background-position: 0 30%;
	background-size: cover;
	color: #fafcfd;
	font-family: 'Monda', sans-serif;
}

nav {
	background-color: #9b5140;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: rgba(234, 234, 234, 0.822);
}

.header-content h1 {
	font-size: 4rem;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fafcfd;
	font-weight: 700;
}

.header-content h2 {
	color: #9b5140;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-shadow: 0 0 1px #111;
	margin-bottom: 1rem;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.7);
	align-self: center;
}

.header-content h3 {
	letter-spacing: 2px;
	font-weight: 600;
	color: #fff;
}

.chapter {
	padding: 10rem 0 0 0;
}

.chapter h2 {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 1rem;
	font-family: 'Monda', sans-serif;
}

.chapter h1 {
	text-align: center;
	padding-bottom: 5rem;
	font-weight: 400;
	font-size: 3rem;
	letter-spacing: 5px;
	font-family: 'PT Serif', serif;
}

.chapter p.subPara {
	padding-left: 2rem;
}

@media (max-width: 950px) {
	.header-content {
		padding: 2rem;
	}
	.header-content h1 {
		font-size: 3rem;
		letter-spacing: 5px;
	}
}

@media (max-width: 725px) {
	nav a {
		font-size: 1rem;
	}
	.themeToggle {
		top: 1.5rem;
		right: 1.5rem;
	}
	.header-content h1 {
		font-size: 1.5rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 1rem;
	}
}

@media (max-width: 413px) {
	.themeToggle {
		top: 1rem;
		right: 1rem;
	}
	.header-content h1 {
		font-size: 1.25rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 0.9rem;
	}
}
