header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/books/meditations/meditationsBG.png);
	background-position: 0 28%;
}

nav {
	background-color: #7e1c1f;
}

nav a {
	color: #fff;
}

nav a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.header-content h1 {
	font-size: 5rem;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 100;
}

.header-content h3 {
	letter-spacing: 2px;
}

.chapter {
	padding: 8rem 0 0 0;
}

.chapter h1 {
	text-align: center;
	padding-bottom: 5rem;
}

@media (max-width: 950px) {
	.header-content {
		padding: 2rem;
	}
	.header-content h1 {
		font-size: 3rem;
		letter-spacing: 5px;
	}
}

@media (max-width: 725px) {
	.themeToggle {
		top: 1.5rem;
		right: 1.5rem;
	}
	nav a {
		font-size: 1rem;
	}
	.header-content h1 {
		font-size: 1.75rem;
		letter-spacing: 5px;
	}
	.header-content h2 {
		font-size: 1rem;
	}
}
